img {
  height: 725px;
  width: auto;
}

h1,
h2 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px black;
}

h2 {
  text-decoration-line: overline underline;
  text-underline-offset: 15px;
}

header.grad {
  background-image: linear-gradient(
    rgba(13, 110, 253, 1),
    rgba(13, 202, 240, 1)
  );
}

nav.grad {
  background-image: linear-gradient(rgba(13, 202, 240, 1), rgba(33, 37, 41, 0));
}
